<!DOCTYPE html>
<html>
<head>
  <title>Osint</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>



<% if user_signed_in? %>

    <div id="menu">
      <div class="table"></div>
        <ul id="items">
            <li id="alerts"><strong>Alerts: <%= @tot %><% yield %></strong></li>
            <li><strong>Welcome, </strong><a href="#"><strong><%= current_user.email %></a>

                <ul>

                  <li><%=link_to('Edit', edit_user_registration_path)%></li>
                  <li><%=link_to('Logout', destroy_user_session_path)%></li>

                </ul>

            </li>
            <li><%= link_to "Settings", "/searches/settings" %></li>
        </ul>
    </div>

<% else %>
    <%= link_to('Register', new_user_registration_path) %>
    <%= link_to("Login", new_user_session_path) %>
<% end %>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>

</body>



</html>
